.menu-btn {
  display: none;
}

.networks-list {
  display: none;
}

.current {
  position: relative;
  color: $accent-color;
}

@media screen and (max-width: 767px) {
  .header-container {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
  .menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .menu-btn--close {
    position: absolute;
    top: 21px;
    right: 25px;
  }

  .menu-btn__icon {
    fill: currentColor;
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    background-color: $background-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99999;
    transform: translate(100%, 0%);
    flex-direction: column;
  }

  .menu-container.is-open {
    transform: translate(0%, 0%);
  }

  nav {
    margin-bottom: auto;
  }

  .nav__item {
    @include font(40px, 500, 1.75, 0.02em);

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .contacts-list__icon {
    display: none;
  }

  .contacts-list {
    display: flex;

    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  .contacts-list__tel {
    margin-bottom: 32px;

    @include font(34px, 500, 1.18, 0.02em);
    color: $accent-color;
  }

  .contacts-list__mail {
    @include font(24px, 500, 1.17, 0.02em);
    color: $secondary-color;
  }

  .networks-list {
    display: flex;

    flex-wrap: wrap;
    row-gap: 5px;
  }

  .networks-list__item {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  .networks-list__link {
    @include font(18px, 500, 1.22, 0.02em);
    color: $accent-color;

    &:hover,
    &:focus {
      color: #188ce8;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .current {
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 4px;

      content: '';
      background-color: $accent-color;
      border-radius: 2px;
    }
  }

  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;

    @include font(null, 500, 1.14, 0.02em);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .menu-container {
    display: flex;
    margin-left: 88px;

    align-items: center;
  }

  .contacts-list {
    margin-left: 101px;
  }

  .contacts-list__icon {
    fill: currentColor;
  }

  .contacts-list__mail-icon {
    width: 14px;
    height: 10px;
  }

  .contacts-list__tel-icon {
    width: 10px;
    height: 14px;
  }

  .contacts-list__item-text {
    padding-left: 8px;
  }

  .contacts-list__link {
    display: flex;

    @include font(12px, 500, 1.17, 0.02em);
    color: $secondary-color;
    align-items: center;
    text-align: left;
  }

  .header-container {
    display: flex;

    align-items: center;
  }

  .header-container__contacts-list {
    margin-left: 98px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }

  .contacts-list {
    display: flex;
    margin-left: 375px;

    align-items: center;
  }

  .contacts-list__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
