.menu-btn {
  display: none;
}

.header-menu__networks-list {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
  .menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .menu-btn--close {
    position: absolute;
    top: 21px;
    right: 25px;
  }

  .menu-btn__icon {
    fill: currentColor;
  }

  .header-menu__nav {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    background-color: $background-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99999;
    transform: translate(100%, 0%);
    flex-direction: column;
  }

  .header-menu__nav.is-open {
    transform: translate(0%, 0%);
  }

  .header-menu__main-nav {
    margin-bottom: auto;
  }

  .header-menu__main-nav-item {
    @include font(40px, 500, 1.75, 0.02em);

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .contact-us__icon {
    display: none;
  }

  .header-menu__contact-us-list {
    display: flex;

    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  .header-menu__contact-us-tel {
    margin-bottom: 32px;

    @include font(34px, 500, 1.18, 0.02em);
    color: $accent-color;
  }

  .header-menu__contact-us-mail {
    @include font(24px, 500, 1.17, 0.02em);
    color: $secondary-color;
  }

  .header-menu__networks-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
  }

  .header-menu__networks-item {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  .header-menu__networks-link {
    @include font(18px, 500, 1.22, 0.02em);
    color: $accent-color;

    &:hover,
    &:focus {
      color: #188ce8;
    }
  }
}

@media screen and (min-width: 768px) {
  .header-link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .current {
    position: relative;
    color: $accent-color;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 4px;

      content: '';
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
  .header-menu__main-nav-list {
    display: flex;
  }
  .header-menu__main-nav-item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .contact-us__icon {
    fill: currentColor;
  }
  .contact-us__mail-icon {
    width: 14px;
    height: 10px;
  }
  .contact-us__tel-icon {
    width: 10px;
    height: 14px;
  }
  .header-menu__contact-us-text {
    padding-left: 8px;
  }

  .contact-us__link {
    display: flex;

    @include font(12px, 500, 1.17, 0.02em);
    color: $secondary-color;
    align-items: center;
    text-align: left;
  }
  .header-menu__nav {
    display: flex;
    margin-left: 91px;

    align-items: center;
  }
  .header-menu {
    display: flex;
    align-items: center;
  }

  .header-menu__contact-us-list {
    margin-left: 98px;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu__main-nav {
    margin-left: 91px;
  }

  .header-menu__contact-us-list {
    display: flex;
    margin-left: 286px;

    align-items: center;
  }
  .header-menu__contact-us-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
