.logo {
  display: inline-flex;
  font-family: 'Raleway', sans-serif;
  @include font(24px, 700, 1.17, null);
  color: inherit;
}

.logo--main {
  margin-top: 16px;
  margin-bottom: 16px;
}

.logo--accent {
  color: $accent-color;
}

.logo--contrast {
  display: inline-block;

  margin-bottom: 20px;
  color: $contrast-text-color;
}
