$accent-color: #2196f3;
$main-color: #212121;
$secondary-color: #757575;
$background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$backgound-accent-color: #2f303a;
$contrast-text-color: #ffffff;
$footer-contacts: rgba(255, 255, 255, 0.6);
$header-border-color: #e5e5e5;
$border-color: #eeeeee;
$footer-input-color: rgba(255, 255, 255, 0.6);
$secondary-soc-color: #afb1b8;
