.benefits__icons-list {
  display: flex;
}

.benefits__icons-item {
  display: flex;

  width: 270px;
  height: 120px;

  background-color: $secondary-background-color;
  margin-bottom: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__list {
  display: flex;
}

.benefits__item-title {
  margin-bottom: 10px;

  @include font(inherit, 700, 1.14, null);

  text-transform: uppercase;
}

.benefits__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__item-text {
  line-height: 1.71;
  color: $secondary-color;
}
