.benefits__icons-item {
  display: flex;

  height: 120px;

  background-color: $secondary-background-color;
  margin-bottom: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__item-title {
  margin-bottom: 10px;

  @include font(inherit, 700, 1.14, null);

  text-align: center;
  text-transform: uppercase;
}

.benefits__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits__item-text {
  line-height: 1.71;
  color: $secondary-color;
}
